<!-- templates/territorios/territorio_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }} - Sistema de Controle de Territórios{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fas fa-map me-2"></i>{{ titulo }}</h1>
</div>

<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-1"></i>Salvar
                        </button>
                        <a href="{% url 'territorio_list' %}" class="btn btn-secondary">
                            <i class="fas fa-times me-1"></i>Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}